body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #20002c, #000);
}

.Love_You {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15%;
  font-size: 2rem;
  font-family: "Arial";
  color: #ff4d6d;
  letter-spacing: 3px;
  z-index: 10;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
